
.main-logo {
  display: inline-block;
  z-index: 500;
  position: relative;
}

#menu-icon {
  cursor: pointer;
  z-index: 500;
  position: absolute;
  right: 0;
  top: 10px;
}

.user-name,
.user-image {
  display: inline-block;
  vertical-align: middle;
}

.user-name {
  font-size: 16px;
  margin-right: 8px;
  padding-bottom: 8px;
}

.user-image img {
  border-radius: 100%;
  display: inline-block;
  height: 32px;
  width: 32px;
}

#menu {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.25);
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-out, opacity 0.2s ease-out;
  opacity: 0;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
}

#menu.active {
  opacity: 1;
  transform: translate3d(0, 40%, 0);
  z-index: 100;
}

.navigation {
  padding: 12px 24px;
}

.navigation li {
  font-size: 20px;
  padding: 12px 0;
}

.navigation a {
  color: var(--textColor);
}

.navigation a.sign-up {
  color: var(--primaryColor);
}
